import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:${appName}${relative}/presentation/bloc/${privateName}_bloc.dart';
import 'package:${appName}${relative}/${privateName}_screen.dart';
import 'package:${appName}/service_locator.dart';

class ${upperName}Page extends StatefulWidget {
  static const String routeName = '/${privateName}';
  final GlobalKey<ScaffoldState> scaffoldKey = GlobalKey<ScaffoldState>();

  @override
  _${upperName}PageState createState() => _${upperName}PageState();
}

class _${upperName}PageState extends State<${upperName}Page> {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text('${upperName}'),
      ),
      key: widget.scaffoldKey,
      resizeToAvoidBottomPadding: true,
      body: BlocProvider(
        create: (_) => serviceLocator.get<${upperName}Bloc>(),
        child: SafeArea(
          child: ${upperName}Screen(),
        ),
      ),
    );
  }
}